ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  gap: 3vh;
}

a{
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
}

a:hover{
  border-bottom: 1px solid #ccc;
}

nav{
  border-bottom: 1px solid #ccc;
}
