<mat-toolbar color="primary">
    <div class="logo"><button mat-icon-button class="menu-button"
            (click)="onToggleSidenav()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        <div>LOGO</div>
    </div>
    <div class="links">
        <a *ngIf="isAuth" routerLink="/training">Exercise</a>
        <a *ngIf="!isAuth" routerLink="/signup">Signup</a>
        <a *ngIf="!isAuth" routerLink="/login">Login</a>
        <a *ngIf="isAuth" (click)="onLogout()">Logout</a>
    </div>
</mat-toolbar>
