<div class="container">
  <button
    (click)="onlyOdd = !onlyOdd"
    [ngStyle]="{ backgroundColor: onlyOdd ? 'green' : 'purple' }"
  >
    Only show odd numbers
  </button>
  <ul>
    <div *ngIf="!onlyOdd">
      <li *ngFor="let even of evenNumbers" [ngClass]="{ even: even % 2 === 0 }">
        {{ even }}
      </li>
    </div>
    <div *ngIf="onlyOdd">
      <li *ngFor="let odd of oddNumbers" [ngClass]="{ odd: odd % 2 === 1 }">
        {{ odd }}
      </li>
    </div>
  </ul>
  <p appBasicHighlight>Style me with a custom attribute directive!</p>
</div>
