.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

button{
  background-color: transparent;
  border: 1px solid #ccc;
  font-size: 2rem;
  color: #ccc;
  border-radius: 5px;
}

