<mat-sidenav-container>
    <mat-sidenav [opened]="openSideNav" role="navigation" #sidenav>
        <p>JKSDNJKSDJNKDSJKNDJK</p>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div class="logo"><button mat-icon-button
                    (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <div>LOGO</div>
            </div>
            <div class="links">
                <a routerLink="/training">Exercise</a>
                <a routerLink="/signup">Signup</a>
                <a routerLink="/login">Login</a>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>