.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50vw;
}

.item:hover{
  background-color: rgba(255, 255, 255, 0.092);
}

mat-icon {
  color: palevioletred;
}

.spacer {
  flex: 1;
}
