section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
}

mat-card-content,
mat-card-actions,
mat-card-title,
mat-card-header,
mat-form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

mat-card-header {
  background-color: #c2185b;
}

.example-card {
  width: 400px;
}