<div class="welcome">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>ACTIVITY</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam magni sint quae nihil aut neque adipisci ea
                voluptatibus. Magnam, dolores soluta. Laboriosam quas nam
                aliquam repellat minima ab non incidunt?</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>CHALLENGES</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem,
                quisquam maiores deleniti, ratione aut fugit nostrum omnis quo
                provident eum fugiat iusto perferendis hic sint eveniet
                perspiciatis, eius enim neque?</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1>COMMUNITY</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit
                eius alias vero! Ea officia error inventore quis illum deleniti
                numquam. Ratione sapiente quis iste eius aut, similique totam
                enim dolor.</p>
        </mat-card-content>
    </mat-card>
</div>
